FileETag None
AddDefaultCharset UTF-8
Options -Indexes +FollowSymLinks

<IfModule mod_mime.c>

	# Content-types
	AddType video/ogg .ogv
	AddType video/mp4 .mp4
	AddType video/webm .webm

	# Font types
	AddType application/vnd.ms-fontobject .eot
	AddType application/x-font-woff .woff
	AddType font/ttf .ttf
	AddType font/otf .otf

</IfModule>

<IfModule mod_headers.c>
	
	Header add Access-Control-Allow-Origin "*"
	Header set X-UA-Compatible "IE=edge,chrome=1"
	Header unset ETag

</IfModule>

<IfModule mod_deflate.c>
	
	SetOutputFilter DEFLATE
	
	# Compress everything except images
	SetEnvIfNoCase Request_URI \
	\.(?:gif|jpe?g|png)$ no-gzip dont-vary
	
	Header append Vary User-Agent env=!dont-vary
	
</IfModule>

<IfModule mod_expires.c>
	
	# Enable expirations
	ExpiresActive On 
	
	# Default directive
	ExpiresDefault "access plus 1 hour"

	# Fonts
	ExpiresByType application/vnd.ms-fontobject "access plus 1 year"
	ExpiresByType application/x-font-woff "access plus 1 year"
	ExpiresByType font/ttf "access plus 1 year"
	ExpiresByType font/otf "access plus 1 year"

	# Favicon
	ExpiresByType image/x-icon "access plus 1 year"
	
	# Images
	ExpiresByType image/gif "access plus 1 month"
	ExpiresByType image/png "access plus 1 month"
	ExpiresByType image/jpg "access plus 1 month"
	ExpiresByType image/jpeg "access plus 1 month"
	ExpiresByType image/svg+xml "access plus 1 month"

	# CSS
	ExpiresByType text/css "access 1 month"
	
	# Javascript
	ExpiresByType application/javascript "access plus 1 month"
	ExpiresByType application/x-javascript "access plus 1 month"
	
</IfModule>

<IfModule mod_rewrite.c>

	RewriteEngine On

	RewriteBase /
	
	<IfModule mod_status.c>
	
	    RewriteCond %{REQUEST_URI} ^/server-(info|status)
	    RewriteRule . - [last]
	    
	</IfModule>
	
	<IfModule pagespeed_module>
	
		# pimcore mod_pagespeed integration
		# pimcore automatically disables mod_pagespeed in the following situations: debug-mode on, /admin, preview, editmode, ...
		# if you want to disable pagespeed for specific actions in pimcore you can use $this->disableBrowserCache() in your action
		
		RewriteCond %{REQUEST_URI} ^/(mod_)?pagespeed_(statistics|message|console|beacon)
		RewriteRule . - [last]
		
		#ModPagespeed On
		AddOutputFilterByType MOD_PAGESPEED_OUTPUT_FILTER text/html
		ModPagespeedModifyCachingHeaders off
		ModPagespeedRewriteLevel PassThrough
		
		# low risk filters
		
		ModPagespeedEnableFilters remove_comments,recompress_images
		
		# low and moderate filters, recommended filters, but can cause problems
		
		ModPagespeedEnableFilters lazyload_images,extend_cache_images,inline_preview_images,sprite_images
		ModPagespeedEnableFilters combine_css,rewrite_css,move_css_to_head,flatten_css_imports,extend_cache_css,prioritize_critical_css
		ModPagespeedEnableFilters extend_cache_scripts,combine_javascript,canonicalize_javascript_libraries,rewrite_javascript
		
		# high risk
		
		#ModPagespeedEnableFilters defer_javascript,local_storage_cache
		
	</IfModule>
	
	# ASSETS: check if request method is GET (because of WebDAV) and if the requested file (asset) exists on the filesystem, if both match, deliver the asset directly 
	RewriteCond %{REQUEST_METHOD} ^(GET|HEAD)
	RewriteCond %{DOCUMENT_ROOT}/website/var/assets%{REQUEST_URI} -f
	RewriteRule ^(.*)$ /website/var/assets%{REQUEST_URI} [PT,L]
	
	# allow access to plugin-data and core assets
	RewriteRule ^plugins/.*/static.* - [PT,L]
	RewriteRule ^.*modules/.*/static.* - [PT,L]
	RewriteRule ^pimcore/static.* - [PT,L]
	
	# forbid the direct access to pimcore-internal data (eg. config-files, ...)
	RewriteRule ^website/var/(?!tmp|assets|plugins|areas) / [F,L]
	RewriteRule ^plugins/.*$ / [F,L]
	RewriteRule ^pimcore/.*$ / [F,L]
	
	# basic zend-framework setup see: http://framework.zend.com/manual/en/zend.controller.html
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_FILENAME} -s [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
	
</IfModule>
